<header class="bg-red-400 flex flex-row items-center justify-around p-5">
    <!-- Logo/brand -->
    <div>
        <a routerLink="/" class="flex flex-row items-center justify-around">
            <img src="./pokeball.png" alt="" srcset="" class="h-[50px]">
            <p class="mx-4">Pokédex</p>
        </a>
    </div>
    <!-- Navigation -->
    <div>
        <nav>
            <ul class="flex flex-row justify-around">
                <a routerLink="/regions" >
                    <li class="mx-4">Régions</li>
                </a>
                <a routerLink="/pokemons">
                    <li class="mx-4">Pokémons</li>
                </a>
                <a routerLink="/items">
                    <li class="mx-4">Objets</li>
                </a>
            </ul>
        </nav>
    </div>
</header>
